/* Clearing default page formatting */ /*Limpando formatações padrão da pagina*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: MediumSlateBlue;
	text-align: center;
}

/* Header */

#header {
    background-color: LightSteelBlue;
    padding: 25px;
}
.full-logo {
    color: gold;
    font-size: 80px;
}

.tech-logo {
    color: black;
}

.header-menu {
    color: aquamarine;
    margin-top: 10px;
    font-size: 25px;
}

/* Link formatting - menu */ /* Formatação de links - menu */
a {
    padding: 5px 10px;
    text-decoration: none; /*Remove anderline from links*/ /*Remove o anderline dos links*/
}

/*1st State - Links not visited*/ /*1º Estado - Links não visitados*/
a:link {
    color: black;
}


/*2nd State - Links visited*/ /*2º Estado - Links visitados*/
a:visited{
    color: black;
}


/*Links Hover, hover the cursor over the link*/ /*Links Hover, passa o cursor sobre o link*/
a:hover{
    color: gold;
    background: black;
}

/*Active Links, when clicked*/ /*Links Ativos, quando clicado*/
a:active{
    color: black;
}

