/* Clearing default page formatting */ /*Limpando formatações padrão da pagina*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: MediumSlateBlue;
	text-align: center;
}

/*--------------------------------------------------------------------------------*/
/* Div Header */  /* Div cabeçalho */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: Indigo;
    padding: 25px;
}
.full-logo {
    color: gold;
    font-size: 80px;
}

.tech-logo {
    color: LightSteelBlue;
}

.header-menu {    
    color: aquamarine;
    margin-top: 10px;
    font-size: 25px;
}

/*--------------------------------------------------------------------------------*/
/* Div Content */  /* conteúdo */
.content-01 {
    background-color: LightSteelBlue;
    width: 950px;
    margin: 0 auto;
    padding: 200px;
}

.content-02 {
    padding: 200px;
    width: 950px;
    margin: 0 auto;
    margin: 5px 10px 10px 5px;
}

.content-03 {
    background-color: Indigo;
    width: 950px;
    margin: 0 auto;
    padding: 200px;
}

.content-04 {
    padding: 200px;
    width: 950px;
    margin: 0 auto;
    margin: 5px 10px 10px 5px;
}

.content-05 {
    padding: 80px;
    width: 950px;
    margin: 0 auto;
    margin: 5px 10px 10px 5px;
}
/*--------------------------------------------------------------------------------*/
/* Link formatting - menu */ /* Formatação de links - menu */
a {
    padding: 5px 10px;
    text-decoration: none; /*Remove anderline from links*/ /*Remove o anderline dos links*/
}

/*1st State - Links not visited*/ /*1º Estado - Links não visitados*/
a:link {
    color: white;
}


/*2nd State - Links visited*/ /*2º Estado - Links visitados*/
a:visited{
    color: white;
}


/*Links Hover, hover the cursor over the link*/ /*Links Hover, passa o cursor sobre o link*/
a:hover{
    color: white;
    background: black;
}

/*Active Links, when clicked*/ /*Links Ativos, quando clicado*/
a:active{
    color: black;
}

